* {
	/* border: 1px dashed red; */
	min-height: 10px;
    font-family: cursive;
}

body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
    padding: 10px;
}
.postcard-header {
	display: flex;

	justify-content: space-between;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin: 0;
}
.postcard-body {
	display: flex;
}
.first {
	margin-top: 0;
}
.body-left {
	padding-right: 10px;
	width: 50%;
}
.body-right {
	padding-left: 10px;
	width: 50%;
}
.postcard-footer {
	text-align: center;
}
button {
	background: silver;
	padding: 5px;
}
input {
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}